[
  {
    "relation": ["delegate_permission/common.handle_all_urls"],
    "target": {
      "namespace": "android_app",
      "package_name": "ЗАМЕНИ_НА_applicationId_ИЗ_BUBBLEWRAP",
      "sha256_cert_fingerprints": [
        "ЗАМЕНИ_НА_ОТПЕЧАТОК_ВИДА_AA:BB:CC:...:FF"
      ]
    }
  }
]
